body {
    border: 1px solid black;
    margin: 0;
}
.first {
    border: 1px solid red;
    /* margin-top: 50px;
    margin-right: 40px;
    margin-bottom: 30px;
    margin-left: 20px; */

    /* margin 축약형 
    4개일때는 위에서 부터 시계 방향으로 쓴다.*/
    margin: 50px 40px 30px 20px;
    /* 3개일때 : top 좌우 bottom */
    margin: 50px 30px 20px;
    /* 2개일때 : 위아래 좌우 */
    margin: 30px 20px;
    /* 1개일때 : 정사각형 모양 */
    margin: 40px;

    border-top-width: 3px;
    border-top-style: dotted;
    border-top-color: aqua;
    border-right-width: 5px;
    border-right-style:dashed;
    border-bottom-width: 1px;
    border-right-style:solid;
    border-left: 3px dotted aquamarine;
    
    border-radius: 10px;
    /* 둥글게 */
    /* padding
    margin처럼 4방향 가능하다. */
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding: 40px 20px 30px 10px;
    padding: 25px;
    /* 패딩 + 컨텐츠 까지만 칠해짐 */
    background-color: coral;
    width: 50vW;
    height: 200px;
    /* width height는 콘텐츠의 너비와 높이이다 */
}
.second {
    box-sizing: border-box;
    /* 밑에는 first 복사 본 
    위 옵션으로 완전 달라짐*/

    border: 1px solid red;

    margin: 50px 40px 30px 20px;
    margin: 50px 30px 20px;
    margin: 30px 20px;
    margin: 40px;

    border-top-width: 3px;
    border-top-style: dotted;
    border-top-color: aqua;
    border-right-width: 5px;
    border-right-style:dashed;
    border-bottom-width: 1px;
    border-right-style:solid;
    border-left: 3px dotted aquamarine;
    
    border-radius: 10px;
    /* margin처럼 4방향 가능하다. */
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding: 40px 20px 30px 10px;
    padding: 25px;
    background-color: coral;
    width: 50vW;
    height: 200px;
}
.profile img {
    border: 1px solid black;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin:0 30px;
}

.chat-left {
    border: 1px solid black;
    background-color: yellow;
    width: 120px;
    text-align: center;
    padding: 5px;
    margin: 10px;
    border-radius: 0px 10px 10px;
}

.chat-right {
    border: 1px solid black;
    background-color: yellow;
    width: 120px;
    text-align: center;
    padding: 5px;
    margin: 10px;
    margin-left: 50%;
    border-radius: 10px 0px 10px 10px;
}
.third {
    border: 1px solid red;
    width: 70%;
    min-width: 500px;
    max-width: 700px;
}
/* 마진 중첩 해결하기
    2개 이상의 요소가 세로 방향으로 붙어 있을때
    margin이 더해 지지 한고 큰 값으로 
    하나만 적용되는 현상 */
    /* 1. border, padding 등 적영 */
    /* 2. 컨텐츠 적기 (<br> 등) */
    /* 3.overflow: hidden 부모에게 주기
    - 부모와 첫번째 자식의 중첩 해소 */
#div1, #div2, #div3 {
    
    /* 1. border: 1px solid red; */
    /* 1. padding: 1px; */
    overflow: hidden;
}

#div2, #div3 {
    /* (1. padding과 연계)1. margin-top: -1px; */
    margin: 20px;
}

#div3 {
    margin-top : 50px;
}
#div1 {
    margin: 30px}

#auto {
    border: 1px solid red;
    width: 100px;
    margin: 0 auto;
}

